{% extends "base.html" %}
{% block content %}
<h1>Log production</h1>
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
<form method="POST" action="/production">
    <label>Product: 
        <select name="product_name">
            {% for name in products %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </label><br>
    <label>Amount: <input type="number" step=any name="amount" required></label><br>
    <button type="submit">Log production</button>
</form>

{% endblock %}